body {
  padding: 0;
  margin: 0;
}
body .container {
  width: 1024px;
  font-family: 'Segoe UI Light', 'Microsoft Jhenghei';
  margin: 0 auto;
  background-color: #f6f6f6;
}
body .container .header {
  margin: 0 auto;
  width: 960px;
  height: 320px;
}
body .container .header .title {
  height: 80;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  color: #fe7376;
}
body .container .header .menu ul {
  width: 600px;
  margin: 0 auto;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 40px;
  list-style: none;
}
body .container .header .menu ul a {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  border-bottom: solid 2px #cccccc;
  color: #989795;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
body .container .header .menu ul a li {
  text-align: center;
}
body .container .header .menu ul a:hover {
  border-bottom: solid 2px #fe7376;
  color: #fe7376;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
body .container .header .decorations {
  width: 100%;
  background-color: #fe7376;
  color: #ffffff;
  margin-top: 30px;
  height: 160px;
  text-align: center;
  font-size: 40px;
  line-height: 160px;
  border-radius: 5px;
}
body .container .content-wrap {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
body .container .content-wrap:first-child {
  margin-top: 0;
}
body .container .content-wrap > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 160px;
}
body .container .content-wrap > div > div {
  width: 200px;
  height: 100%;
  border-radius: 5px;
  border: solid 1px #cccccc;
  margin: 0 auto;
}
body .container .content-wrap > div > div .title {
  text-align: center;
  line-height: 2rem;
}
body .container .content-wrap > div > div .content.chasing-dots-container {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  position: relative;
  text-align: center;
  -webkit-animation: dot-rotate 2s infinite linear;
          animation: dot-rotate 2s infinite linear;
}
body .container .content-wrap > div > div .content.chasing-dots-container > div {
  width: 60%;
  height: 60%;
  border-radius: 100%;
  display: inline-block;
  background-color: #5bd0d9;
  position: absolute;
  top: 0;
  -webkit-animation: dot-bounce 1.2s infinite ease-in-out;
          animation: dot-bounce 1.2s infinite ease-in-out;
}
body .container .content-wrap > div > div .content.chasing-dots-container > div:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
@-webkit-keyframes dot-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes dot-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dot-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes dot-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
body .container .content-wrap > div > div .content.circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
body .container .content-wrap > div > div .content.circle > div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
body .container .content-wrap > div > div .content.circle > div:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #5bd0d9;
  border-radius: 100%;
  -webkit-animation: circles 1.2s infinite ease-in-out both;
          animation: circles 1.2s infinite ease-in-out both;
}
body .container .content-wrap > div > div .content.circle > div:nth-child(2) {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
body .container .content-wrap > div > div .content.circle > div:nth-child(2):before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
body .container .content-wrap > div > div .content.circle > div:nth-child(3) {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
body .container .content-wrap > div > div .content.circle > div:nth-child(3):before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
body .container .content-wrap > div > div .content.circle > div:nth-child(4) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
body .container .content-wrap > div > div .content.circle > div:nth-child(4):before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
body .container .content-wrap > div > div .content.circle > div:nth-child(5) {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
body .container .content-wrap > div > div .content.circle > div:nth-child(5):before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
body .container .content-wrap > div > div .content.circle > div:nth-child(6) {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
body .container .content-wrap > div > div .content.circle > div:nth-child(6):before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
body .container .content-wrap > div > div .content.circle > div:nth-child(7) {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
body .container .content-wrap > div > div .content.circle > div:nth-child(7):before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
body .container .content-wrap > div > div .content.circle > div:nth-child(8) {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
body .container .content-wrap > div > div .content.circle > div:nth-child(8):before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
body .container .content-wrap > div > div .content.circle > div:nth-child(9) {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
body .container .content-wrap > div > div .content.circle > div:nth-child(9):before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
body .container .content-wrap > div > div .content.circle > div:nth-child(10) {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
body .container .content-wrap > div > div .content.circle > div:nth-child(10):before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
body .container .content-wrap > div > div .content.circle > div:nth-child(11) {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
body .container .content-wrap > div > div .content.circle > div:nth-child(11):before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
body .container .content-wrap > div > div .content.circle > div:nth-child(12) {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
body .container .content-wrap > div > div .content.circle > div:nth-child(12):before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
@-webkit-keyframes circles {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes circles {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
body .container .content-wrap > div > div .content.cube-grid {
  width: 40px;
  height: 40px;
  margin: 40px auto;
}
body .container .content-wrap > div > div .content.cube-grid > div {
  width: 33%;
  height: 33%;
  background-color: #5bd0d9;
  float: left;
  -webkit-animation: cube-scale 1.3s infinite ease-in-out;
          animation: cube-scale 1.3s infinite ease-in-out;
}
body .container .content-wrap > div > div .content.cube-grid > div:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
body .container .content-wrap > div > div .content.cube-grid > div:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
body .container .content-wrap > div > div .content.cube-grid > div:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
body .container .content-wrap > div > div .content.cube-grid > div:nth-child(4) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
body .container .content-wrap > div > div .content.cube-grid > div:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
body .container .content-wrap > div > div .content.cube-grid > div:nth-child(6) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
body .container .content-wrap > div > div .content.cube-grid > div:nth-child(7) {
  -webkit-animation-delay: 0.1s -0.1s;
          animation-delay: 0.1s -0.1s;
}
body .container .content-wrap > div > div .content.cube-grid > div:nth-child(8) {
  -webkit-animation-delay: 0.2s -0.1s;
          animation-delay: 0.2s -0.1s;
}
body .container .content-wrap > div > div .content.cube-grid > div:nth-child(9) {
  -webkit-animation-delay: 0.3s -0.1s;
          animation-delay: 0.3s -0.1s;
}
@-webkit-keyframes cube-scale {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
@keyframes cube-scale {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
body .container .content-wrap > div > div .content.double-bounce {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 40px auto;
}
body .container .content-wrap > div > div .content.double-bounce > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #5bd0d9;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: double-bounce 1.8s infinite ease-in-out;
          animation: double-bounce 1.8s infinite ease-in-out;
}
body .container .content-wrap > div > div .content.double-bounce > div:last-child {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
@-webkit-keyframes double-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes double-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
body .container .content-wrap > div > div .content.fade-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
body .container .content-wrap > div > div .content.fade-circle > div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
body .container .content-wrap > div > div .content.fade-circle > div:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #5bd0d9;
  border-radius: 100%;
  -webkit-animation: fade-cricle 1.2s infinite ease-in-out both;
          animation: fade-cricle 1.2s infinite ease-in-out both;
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(2) {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(2):before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(3) {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(3):before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(4) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(4):before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(5) {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(5):before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(6) {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(6):before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(7) {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(7):before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(8) {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(8):before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(9) {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(9):before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(10) {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(10):before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(11) {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(11):before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(12) {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
body .container .content-wrap > div > div .content.fade-circle > div:nth-child(12):before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
@-webkit-keyframes fade-cricle {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes fade-cricle {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
body .container .content-wrap > div > div .content.pulse {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  background-color: #5bd0d9;
  border-radius: 50%;
  -webkit-animation: pulse 1s infinite ease-in-out;
          animation: pulse 1s infinite ease-in-out;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
body .container .content-wrap > div > div .content.three-bounce {
  margin: 40px auto;
  width: 90px;
  height: 40px;
}
body .container .content-wrap > div > div .content.three-bounce > div {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  background-color: #5bd0d9;
  -webkit-animation: bounce 1.4s ease-in-out 0s infinite both;
          animation: bounce 1.4s ease-in-out 0s infinite both;
}
body .container .content-wrap > div > div .content.three-bounce > div:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
body .container .content-wrap > div > div .content.three-bounce > div:last-child {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
@-webkit-keyframes bounce {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounce {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
body .container .content-wrap > div > div .content.wondering-cube {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
body .container .content-wrap > div > div .content.wondering-cube .cube {
  background-color: #5bd0d9;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: wandering-cube 1.8s ease-in-out infinite both;
          animation: wandering-cube 1.8s ease-in-out infinite both;
}
body .container .content-wrap > div > div .content.wondering-cube .cube-2 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
@-webkit-keyframes wandering-cube {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
            transform: translateX(30px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
            transform: translateX(30px) translateY(30px) rotate(-179deg);
  }
  50.1% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
            transform: translateX(30px) translateY(30px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
            transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes wandering-cube {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
            transform: translateX(30px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
            transform: translateX(30px) translateY(30px) rotate(-179deg);
  }
  50.1% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
            transform: translateX(30px) translateY(30px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
            transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
body .container .content-wrap > div > div .content.wave {
  margin: 40px auto;
  width: 120px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
body .container .content-wrap > div > div .content.wave > div {
  background-color: #5bd0d9;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: wave 1s infinite ease-in-out;
          animation: wave 1s infinite ease-in-out;
}
body .container .content-wrap > div > div .content.wave > div:nth-child(0) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
body .container .content-wrap > div > div .content.wave > div:nth-child(1) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
body .container .content-wrap > div > div .content.wave > div:nth-child(2) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
body .container .content-wrap > div > div .content.wave > div:nth-child(3) {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
body .container .content-wrap > div > div .content.wave > div:nth-child(4) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
body .container .content-wrap > div > div .content.wave > div:nth-child(5) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
@-webkit-keyframes wave {
  0%,
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes wave {
  0%,
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
body .container .content-wrap > div > div .content.rotating-plane {
  width: 40px;
  height: 40px;
  background-color: #5bd0d9;
  margin: 40px auto;
  -webkit-animation: rotate-plane 1.2s infinite ease-in-out;
          animation: rotate-plane 1.2s infinite ease-in-out;
}
@-webkit-keyframes rotate-plane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-179.9deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-179.9deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes rotate-plane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-179.9deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-179.9deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
body .container .footer {
  margin-top: 50px;
  padding: 20px 0;
  text-align: center;
  border-top: #cccccc solid 1px;
}
